   @page "/charts-turbines"
@inject IToastService toastService
<h1>Graphic Turbine</h1>
<p>Current Turbines: @ChartSingleton.NumTurbine</p>
<div class="row g-3">
    <div class="col-auto"> 
        <SelectComponent Values="ChartInfo" Text="(Choose Chart)" ValueChanged="@ChangeInfoChart" Warning="Chart is required" />
    </div>
    <div class="col-auto"> 
        <SelectComponent Values="Turbines" Text="(Choose Turbine)" ValueChanged="@ChangeInfoTurbine" Warning="Turbine is required" />
    </div>
    @if (IsWarningChart)
    {
        <div class="col-auto"> 
            <SelectComponent Values="Sensors" Text="(Choose Sensor)" ValueChanged="@ChangeInfoSensor" Warning="Sensor is required" />
        </div>
    } 
    <div class="col-auto"> 
        <SelectComponent Values="ErrorByTurbine" Text="(Choose Error)" ValueChanged="@ChangeInfoError" Warning="Error is required" />
    </div>
    <div class="col-auto">
        <label >@text</label>
        <InputComponent Id="error" Type="number" ValueChanged="@ChangeInfoPeriod"  PlaceHolder="Enter Period"></InputComponent>
    </div>
    <div class="col-auto">
        <ButtonComponent OnClick="CallChartData" Text="Creat Chart"></ButtonComponent>
    </div>
</div>

@foreach (var period in infoChart)
{
    if (recallChartInfo)
    {
        <div class="chart-container">
            <ChartComponent Config="GetConfig(period)"></ChartComponent>
        </div>
    }

}
